.cardContainer {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--light-gray-2);
	border-radius: 6px;
	padding: 1rem;
	gap: 1.5rem;
}

.articleContainer {
	text-align: start;
	font-size: 0.875rem;
	margin-bottom: 1rem;
}

.articleTitle {
	margin-bottom: 0.5rem;
}

.cardImage {
	aspect-ratio: 16/9;
}

.articleDescription {
	color: var(--gray);
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 0.25rem;
}

@media (min-width: 480px) {
	.buttonContainer {
		flex-direction: row;
	}
}

@media (min-width: 640px) {
	.cardContainer {
		flex-direction: row;
		gap: 1.5rem;
	}

	.cardImage {
		min-width: 40%;
	}
}

@media (min-width: 768px) {
	.cardImage {
		min-width: 35%;
		aspect-ratio: 14/9;
	}
}
