.input {
	color: var(--color-black-1);
	width: 100%;
	padding: 0.8rem 1.2rem;
	font-family: inherit;
	border: 1px solid var(--color-grey);
	border-radius: 5px;
	background-color: var(--color-light-2);
	transition: all 0.2s;
}

.input:focus {
	outline: none;
	background-color: var(--color-light-2);
}
