.input {
	width: 100%;
	padding: 0.5rem 1rem;
	font-family: inherit;

	border: 1px solid var(--light-2);
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.4);
	transition: border 0.2s, box-shadow 0.2s;
	box-shadow: var(--shadow-xs);
	position: relative;
}
.input:disabled {
	background-color: var(--light-gray);
	cursor: not-allowed;
}

.input:read-only {
	background-color: var(--light-gray);
}

.input::placeholder {
	color: var(--gray);
	font-size: 14px;
}

.input:focus {
	outline: none;
	box-shadow: var(--shadow-sm);
	background-color: rgba(255, 255, 255, 0.5);
}

.label {
	text-align: start;
	font-size: 1rem;
	margin-bottom: 5px;
	color: var(--black-1);
	font-weight: 500;
}

.itemList {
	appearance: none;
	position: absolute;
	z-index: 100;
	display: flex;
	flex-direction: column;
	background-color: var(--light-3);
	color: var(--gray);
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid var(--light-3);
	box-shadow: var(--shadow-sm);
	height: 180px;
	width: 220px;
	min-width: 180px;
	padding: 0.75rem 1rem;
	gap: 3.75rem;
	overflow-y: scroll;
}

.itemList:focus {
	outline: none;
}

.item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--light-gray);
	transition: all 0.2s;
	border-radius: 4px;
	padding: 0.25rem 0.75rem;
	box-shadow: var(--shadow-xs);
}

.inputIcon {
	position: absolute;
	top: 10px;
	right: 15px;
	color: var(--gray);
}

.selectedItemContainer {
	font-family: inherit;
	display: flex;

	gap: 0.75rem;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--light);
	border: 1px solid var(--light-2);
	border-radius: 8px;
	color: var(--gray);
	position: relative;
	box-shadow: var(--shadow-xs);
	transition: border 0.2s, box-shadow 0.2s;
}

.selectedItem {
	border-radius: 6px;
	background-color: var(--light-3);
	padding: 0.25rem 0.75rem;
	box-shadow: var(--shadow-xs);
	color: var(--gray);
	font-size: 12px;
	font-weight: 500;
}
