.searchContainer {
	display: flex;
	align-items: center;
	width: 100%;
}

.searchInput {
	padding: 0.5rem 1rem;
	font-family: inherit;
	transition: all 0.2s ease;
	border: 1px solid var(--light-gray);
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: var(--shadow-xs);
	letter-spacing: 0.25px;
	flex-grow: 1;
}

.searchInput:focus {
	outline: none;
	box-shadow: var(--shadow-sm);
	background-color: rgba(255, 255, 255, 0.5);
}

.searchInput::placeholder {
	color: var(--gray);
	font-size: 14px;
}

.searchButton {
	border: none;
	background-color: #ddd;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
}

.searchButton i {
	color: #333;
	font-size: 18px;
}

.searchContainer.left-icon {
	flex-direction: row-reverse;
}
