.loginContainer {
	width: auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	gap: 1.5rem;
	max-width: 400px;
}
.borderWord {
	position: relative;
}

.borderWord::before,
.borderWord::after {
	content: '';
	position: absolute;
	top: 55%;
	height: 1px;
	background-color: var(--gray);
	width: 180px;
}

.borderWord::before {
	left: 0;
}

.borderWord::after {
	right: 0;
}

.formContainer {
	display: flex;
	flex-direction: column;
	margin-top: -10px;
	gap: 1rem;
}
