.signupContainer {
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	flex: 1 1 auto;
	max-width: 400px;
}

.borderWord {
	position: relative;
}

.borderWord::before,
.borderWord::after {
	content: '';
	position: absolute;
	top: 55%;
	height: 1px;
	background-color: var(--gray);
	width: 180px;
}

.borderWord::before {
	left: 0;
}

.borderWord::after {
	right: 0;
}

.validationContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.75rem;
	margin-bottom: 1rem;
}

/* @media (min-width: 1280px) {
	.signupContainer {
		max-width: 500px;
	}
} */
