.signupContainer {
	width: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	max-width: 400px;
}

.borderWord {
	position: relative;
}

.borderWord::before,
.borderWord::after {
	content: '';
	position: absolute;
	top: 55%;
	height: 1px;
	background-color: var(--gray);
	width: 180px;
}

.borderWord::before {
	left: 0;
}

.borderWord::after {
	right: 0;
}
