@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-light-1: #ffffff;
	--color-light-2: #e3e8ef;
	--color-black-1: #191b1f;
	--color-black-2: #2a2d32;
	--color-light-grey: #cbcdd1;
	--color-grey: #677489;
	--color-dark-blue: #20293a;
	--color-violet: #6466e9;
	--color-light-violet: rgba(168, 180, 246, 0.5);
	--color-dark-violet: #4138c2;
	--color-error: #b91c1c;
	--color-danger: #dd524c;
	--color-success: #15803d;

	font-family: Inter, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
:root.light-mode {
	background-color: var(--color-light-2);
	--content-color: var(--color-black-1);
	--shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.1);
	--shadow-sm: 1px 2px 4px rgba(0, 0, 0, 0.1);
	--shadow-md: 1.5px 3px 6px rgba(0, 0, 0, 0.1);
	--shadow-lg: 4px 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
}
:root.dark-mode {
	background-color: var(--color-black-2);
	--content-color: var(--color-light-1);
	--shadow-xs: 0 1px 2px rgba(255, 255, 255, 0.1);
	--shadow-sm: 1px 2px 4px rgba(255, 255, 255, 0.1);
	--shadow-md: 1.5px 3px 6px rgba(255, 255, 255, 0.1);
	--shadow-lg: 4px 1.2rem 2.4rem rgba(255, 255, 255, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	line-height: 1.5;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.5px;
	box-sizing: border-box;
}

body {
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

h1,
h2,
h4 {
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}
